/* .description {
    background-color:#87CEFA;height:550px;width:600px;
    float:center;font-size:18pt;
    } */

/* input{
    margin:10px;
} */

body{
	font-family: 'lato';
	color: #111;
	position: relative;
	overflow-x: hidden;
}

.vertical-align{
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

strong{
	font-weight: 900;
}

p{
	line-height: 24px;
	font-weight: 300px;


}

#about{

    background: url("http://www.goodwp.com/images/201103/goodwp.com_16835.jpg")fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 500px;
    
    }

    #about h3{
        font-weight: 300;
        letter-spacing: 3px;
    }
    
    #about h4{
        font-weight: 300;
        padding: 0 20%;
        
    }